*{
    font-family: Arial, Helvetica, sans-serif;
}
.bg3{
    height: 100vh;
    background-image: url("back3.jpg") ;
    background-size: cover;
    margin: 0px;
}
.bg3 div img{
    height: 200px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 2px 2px 2px 2px rgba(128, 0, 128, 0.608);
}
.bg3 div div:hover{
    transform: skew(0deg);
    box-shadow: 2px 2px 2px 2px black;
    background-color: rgba(0, 206, 209, 0.356);
    color: black;
}
.bg3 div:hover{
    box-shadow: 2px 2px 2px 2px purple;
    background-color: rgba(128, 0, 128, 0.322);
}
.bg3 div img:active{
    animation: picc 5s ease-in-out infinite;
}
.bg4{
    height: 100vh;
    background-image: url("back4.jpg");
    background-size: cover;
    margin: 0px;
}
.bg4 div img{
    border-radius: 10px;
    border: 5px solid black;
}
.bg4 div img:hover{
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.568);
}
.bg4 div , .bg3 div{
    display: flex;
}
.bg4 div div , .bg3 div div{
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    place-content: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto 0px;
    padding: 20px 20px 20px 25px;
    transition: 2s;
    background-color: rgb(31, 123, 160,0.4);
}
.bg3 div div{
    color: wheat;
    background-color: rgb(102, 2, 102,0.4);
    transition: 1s;
    transform: skew(-20deg);
}
.bg4 div div::selection{
    color: rgb(50, 47, 255);
    background-color:yellowgreen;
}
.bg4 div div:hover{
    box-shadow: 5px 2px 5px 5px black;
    transform: skew(30deg);
    background-color:rgb(202, 154, 90,0.7);
}
#ashh1 , #ashh2{
    margin: auto 0px auto auto;
}

@keyframes picc{
    0%{width: 100px;}
    100%{width: 500px;}
}
